.sectionCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionTitleFilter{
    display:flex;
    justify-content: space-evenly;
    margin: 100px;
}

.logosBrands{
    width: 80px;
    margin:10px;
    align-self: center;
}

.titleAllProd{
    font-size: 30px;
    font-weight: bolder;
}

.filtersColors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(195, 195, 195);
    text-align: center;
    margin-top: 50px;
}

.colorBlue{
    padding: 20px;
    background-color: blue;
    border-radius: 100px;
    width: 20px;
}

.colorBlack{
    padding: 20px;
    background-color: rgb(16, 16, 16);
    border-radius: 100px;
    width: 20px;
}

.colorWhite{
    padding: 20px;
    background-color:rgb(255, 255, 255);
    border-radius: 100px;
    width: 20px;
}

.colorGray{
    padding: 20px;
    background-color:rgb(93, 93, 93);
    border-radius: 100px;
    width: 20px;
}

.colorBeige{
    padding: 20px;
    background-color:rgb(230, 230, 193);
    border-radius: 100px;
    width: 20px;
}

.colorPink{
    padding: 20px;
    background-color:pink;
    border-radius: 100px;
    width: 20px;
}

.colorLila{
    padding: 20px;
    background-color:#C8A2C8;
    border-radius: 100px;
    width: 20px;
}

.divColor{
    margin: 10px;
}


.divBrands{
    display: flex;
    flex-direction: column;
}

.btnBrands{
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.btnCategories{
    background-color: black;
    margin-top: 10px;
    border: none;
    color: white;
}

.pagination{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.pagination-button{
    background-color: #000000; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 8px 16px; /* Espaciado interior del botón */
    margin: 4px; /* Margen entre botones */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse sobre el botón */
    border-radius: 10px;
}

.pagination-button.active {
    background-color: #ff0000; /* Cambiar el color de fondo del botón activo */
  }

@media(max-width:527px){
    .sectionTitleFilter{
        flex-direction: column;
        text-align: center;
    }
    .titleAllProd{
        margin-bottom: 50px;
    }
}