.sectionCategories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
}
.linkP{
    text-decoration: none;
}

.categoryKeyboard{
    width: 350px;
    height: 250px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.632);
    background-image: url('./assets/cardCategory.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px white;
}

.categoryKeyboard:hover{
    transform: translateY(-5px);
}

.categoryText{
    font-size: 28px;
    font-weight: bolder;
    color: white;
    
}

.categoryHeadphones{
    width: 350px;
    height: 250px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.632);
    background-image: url('./assets/cardHeadphones.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px white;
}

.categoryHeadphones:hover{
    transform: translateY(-5px);
}

.categoryMouses{
    width: 350px;
    height: 250px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.632);
    background-image: url('./assets/cardMouses.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px white;
}

.categoryMouses:hover{
    transform: translateY(-5px);
}

.divTitleShopByCat{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divTitleShopByCatMobile{
    display: none;
}

.textByCat{
    font-size: 24px;
    margin-top: 50px;
    font-weight: bolder;
}

.carruselByCategorie{
    width: 300px;
    border-radius: 20px;
    margin-left: 20%;
}

.linkPCrousel{
    text-decoration: none;
}

.categoryKeyboardCarousel{
    width: 250px;
    height: 200px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.632);
    background-image: url('./assets/cardCategory.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px white;
}

.categoryHeadphonesCarousel{
    width: 250px;
    height: 200px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.632);
    background-image: url('./assets/cardHeadphones.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px white;
}

.categoryMousesCarousel{
    width: 250px;
    height: 200px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.632);
    background-image: url('./assets/cardMouses.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px white;
}

.sectionCarouselMobileCategories{
    display: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}

.carousel-indcators {
    display: none;
}

.carousel-indicators [data-bs-target]{
    display: none;
}



@media(max-width:1140px){
    .sectionCarouselMobileCategories{
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .shopByCategorieWeb{
        display: none;
    }
    .textByCatMobile{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: bolder;
    }
    .divTitleShopByCatMobile{
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .categoryKeyboardCarousel{
        width:200px;
        height: 150px;
    }
    .categoryHeadphonesCarousel{
        width:200px;
        height: 150px;
    }
    .categoryMousesCarousel{
        width:200px;
        height: 150px;
    }
}