.cartAllContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.imageCart{
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 34px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 4px 34px 0px rgba(189,189,189,1);
    box-shadow: 0px 4px 34px 0px rgba(189,189,189,1);
    margin-top: 100px;
}
.cartContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 9px;
}
.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px lightgray;
}
#h3{
    font-size: 17px;
    padding: 30px;
    text-align: center;
    font-weight: bolder;
}
.hr{
    width: 50vw;
}
.cartInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.bought{
    background-color: rgb(230, 66, 37);
    border: none;
    color: white;
    width: 50%;
    height: 60px;
    border-radius: 6px;
}

.deleteIcon{
    color: red;
}

.btnDelete{
    background-color: white;
    border: none;
    margin-right: 10px;
    display: flex;
}