


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;;
}

.btn{
    background-color: black;
    color: white;
}

.imgCardDetail{
    width:200px;
}

.cardDetail{
    text-align: center;
    border: solid 1px gray;
    border-radius: 10px;
    margin: 20px;
}

