@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.navbar{
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:150px;
}

.logo{
    width: 150px;
    height: 150px;
}

.btnNav{
    margin:10px;
    font-family: 'Raleway', sans-serif;
}

.search{
    padding:10px;
    width: 350px;
}

.searchIcon{
    color: white;
    margin-left: 10px;
    align-items: center;
    
}

.sectionSearchBar{
    display: flex;
    align-items: center;
}

.cart{
    color: white;
}

.sectionCart{
    display: flex;
    align-items: center;
}

.fav{
    color: white;
    margin: 20px;
}