@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.navbar{
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:150px;
    /* position: fixed;
    z-index: 10;
    width: 100%; */
}

.logo{
    width: 150px;
    height: 150px;
}
#logoPerfil{
    border-radius: 100%;
    max-width: 40px;
}
.botonesLogin{
    background: none;
    border: 3px solid white;
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    margin: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .8s;
}

.containerInfoP{
    width: 100%;
    height: auto;
    transition: all 1s;
}
.containerInfoP:hover{
    background-color: rgba(0, 0, 0, 0.164);
}
.searchP{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.linkP{
    text-decoration: none;
    color: rgb(83, 83, 83);
}
.linkIcon{
    text-decoration: none;
    color: white ;
}
span{
    font-size: 15px;
    color: white;
}
.botonesLogin:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(204, 204, 204);
}
.containerBtnProfile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnNav{
    margin:10px;
    font-family: 'Raleway', sans-serif;
}

.search{
    padding:10px;
    width: 350px;
    outline: none; /* Quitamos el contorno cuando el input tiene el foco */
}
.search:focus{
    outline: 2px solid rgb(204, 64, 64)
}
.logout{
    color: white;
    margin: 20px;
}
.logoutBtn{ 
    background: none;
    border: none;
}
.searchIcon{
    color: white;
    margin-left: 10px;
    align-items: center;
    
}
.searchContainer {
  position: relative;
}

.sectionSearchBar {
  display: flex;
  align-items: center;
}

.searchInput {
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-left: 8px; 
}

.searchcontain {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  max-width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 1;

}

.cart{
    color: white;
}

.sectionCart{
    display: flex;
    align-items: center;
}

.fav{
    color: white;
    margin: 20px;
}